{% extends "base.html" %}
{% block body %}
<h1>daily list</h1>
<div class="table-responsive">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th rowspan="2">date</th>
                <th colspan="2">reading</th>
                <th colspan="2">exercise</th>
                <th colspan="2">coding</th>
                <th colspan="2">english</th>
            </tr>
            <tr>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                {% if book.title > 0 %} 
                <tr>
                    <td>{{ book.id }}</td>
                    {% for item in book[book.id] %}
                        {% if item.category == '1' %}
                            <td>{{ item.category }}{{ item.am_pm }}{{ item.time }}</td>
                        {% else %}
                            <td colspan="2">-</td>
                            {% if item.category == '2' %}
                                <td>{{ item.category }}{{ item.am_pm }}{{ item.time }}</td>
                            {% else %}
                                <td colspan="2">-</td>
                                {% if item.category == '3' %}
                                    <td>{{ item.category }}{{ item.am_pm }}{{ item.time }}</td>
                                {% else %}
                                    <td colspan="2">-</td>
                                    {% if item.category == '4' %}
                                        <td>{{ item.category }}{{ item.am_pm }}{{ item.time }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            {% else %}
                <td>書籍が登録されていません</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
