{% extends "base.html" %}
{% block body %}
<h1>daily list</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th rowspan="2">date</th>
                <th colspan="2">reading</th>
                <th colspan="2">exercise</th>
                <th colspan="2">coding</th>
                <th colspan="2">english</th>
            </tr>
            <tr>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
