{% extends "base.html" %}
{% block body %}
<h1>daily list</h1>
<div class="table-responsive">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th rowspan="2">date</th>
                <th colspan="2">reading</th>
                <th colspan="2">exercise</th>
                <th colspan="2">coding</th>
                <th colspan="2">english</th>
            </tr>
            <tr>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
                <th>am</th>
                <th>pm</th>
            </tr>
        </thead>
        <tbody>
            {% for daily in dailys %}
                <tr>
                    <td>{{ daily.date }}</td>
                    <td>{{ daily.1_am_time }}</td>
                    <td>{{ daily.1_pm_time }}</td>
                    <td>{{ daily.2_am_time }}</td>
                    <td>{{ daily.2_pm_time }}</td>
                    <td>{{ daily.3_am_time }}</td>
                    <td>{{ daily.3_pm_time }}</td>
                    <td>{{ daily.4_am_time }}</td>
                    <td>{{ daily.4_pm_time }}</td>
                </tr>
            {% else %}
                <td>書籍が登録されていません</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
